html {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}
.text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#main {
    margin: 0px;
}

nav {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
nav ul {
    padding: 0;
    margin: 20px;
    height: 100%;
    text-align: end;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    height: 100%;
}
#icon-ham-menu {
    width: 15px;
}
#google-logo {
    text-align: center;
    padding-top: 109px; 
    padding-bottom: 25px;
}

#sign-in {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #4d90fe;
    cursor: pointer;
    border: 1px solid #3079ed;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    font-weight: bold;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
#main-content {
}
#logo-searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#search-bar-full {
    position: relative;
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    width: 484px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
}
#search-bar-full:hover {
    outline: none;
    border-color: #dfe1e5;
    box-shadow: 0 0 10px #dfe1e5;
}

#search-bar {
    color: black;
    flex: 100%;
    font: 16px 'Lato', sans-serif;
    height: 34px !important;
    border: none;
    margin: 5px 20px;
    padding: 0;
}


#search-buttons {
    padding-top: 18px;
    top: 53px;
    width: auto;
    display: block;
    text-align: center;
    padding-bottom: 18px;
}

#language-change {
    text-align: center
}

#search-buttons input {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #5F6368;
    background-color: #f2f2f2;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    right: auto;
    left: auto;
    height: 36px;
    line-height:27px;
    padding: 0 16px;
    margin: 11px 4px;
}
#search-buttons input:hover {
    color: #222;
    background-color: 
}
#footer {
   border-bottom: 1px solid #e4e4e4;
   display: block;
   color: #222;
   line-height: 40px;
   background: #f2f2f2;
   border-top: 1px solid #e4e4e4;
   min-width: 980px;
   height: auto;
   position: absolute;
   width: 100%;
   bottom: 0;
}
#footer-bottom {
    padding: 0;
    margin: 5px 20px;
    height: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer-top {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #e4e4e4;
    height: 100%;
}
#footer-left ul {
    margin-left: 30px;
}
#footer-right ul {
    margin-right: 30px;
    float: right;
}
footer ul li {
    display: inline-block;
    margin-right: 10px;
    height: 0;
}
